<html>
<head>
	<title>Numerology App</title>
</head>

<body>

<div class="container">
	<div class="header">
		<h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
	</div>
 
	<hr />

	<%= yield %>
	</div>

</body>
</html>